[submodule "rust-lightning"]
	path = rust-lightning
	url = https://github.com/joemphilips/rust-lightning
	branch = ffi_build_scripts
[submodule "tests/DockerComposeFixture"]
	path = tests/DockerComposeFixture
	url = https://github.com/joemphilips/DockerComposeFixture
[submodule "src/LiteDB"]
	path = src/LiteDB
	url = https://github.com/joemphilips/LiteDB
